PORT=5000
MONGODB_URI=mongodb://localhost:27017/agency-website
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
MAX_FILE_SIZE=5242880
UPLOAD_DIR=./uploads




mongo username= hudaib217_db_user
password= NvRX2ruqh8qQYOu5


mongodb+srv://hudaib217_db_user:NvRX2ruqh8qQYOu5@cluster0.vhx8fvb.mongodb.net/?appName=Cluster0
